/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* My reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}

/* General Styles */

html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    background-color:#FBFFFB;
    line-height:1.5;
    color:#4f4f4f;
    font-family: 'ABeeZee', sans-serif;
}
a{
    font-family: 'ABeeZee', sans-serif;
    color:#f52f81;
    text-decoration: none;
}
a:hover {
    color: lavender;

}
h1, h2, h3{
    font-family: 'Shrikhand', cursive;
    color:#23a6c7;
}
h1{
    color:#75ec25;
    font-size:3rem;
    letter-spacing:.3em;
}
h2{
    font-size:8rem;
}
h3{
    font-size:2.5rem;
}
section{
    padding:4% 0;
}
button {
    font-size: 1.6rem;
    font-family: 'ABeeZee', sans-serif;
    padding: 1% 4%;
    margin: 2%;
    background-color: tomato;
    border: 1px solid violet;
    color: ivory;
    border-radius: 20px;
    transition: 2s;
}
button:hover {
    background-color: ivory;
    color: tomato;
}

/*Header Styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);

}
.name {
    width: 25%;
    display: flex;
    margin-left: 5%;
}
.links  {
    width: 55%;
    display: flex;
    justify-content:space-evenly;
    margin-right: 4%;
} 
.links:hover {
    color:black;
}
.links a {
    background-color: lavender;
    padding: 2% 8%;

}
.links a:hover {
    background-color: #f52f81;

}
/*About Section Styles*/

#about {
    height: 75vh;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 4%;
}
.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Gallery Styles*/
#projects {
    /* outline: 1px red solid; */
    height: 800px;
}
.gallery {
    /* outline: 2px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.photo {
    /* outline: 2px solid green; */
    display: flex;
    justify-content: center;
    height: 40%;
    width: 30%;
    align-items: center;
    flex-direction: column;
}
.photo img {
    height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.photo p {
    height: 10%;
    text-align: center;
}
/* Footer Styler */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lavender;
    padding-bottom: 6%;
}