/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* My reset */

*{
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
}

/* General Styles */

html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    background-color:#FBFFFB;
    line-height:1.5;
    color:#4f4f4f;
    font-family: 'ABeeZee', sans-serif;
}
a{
    font-family: 'ABeeZee', sans-serif;
    color:#f52f81;
    text-decoration: none;
}
a:hover {
    color: lavender;

}
h1, h2, h3{
    font-family: 'Shrikhand', cursive;
    color:#23a6c7;
}
h1{
    color:#75ec25;
    font-size:3rem;
    letter-spacing:.3em;
}
h2{
    font-size:10rem;
    text-shadow: 2px 2px hotpink;
}
h3{
    font-size:2.5rem;
}
section{
    padding:4% 0;
}
button {
    font-size: 1.6rem;
    font-family: 'ABeeZee', sans-serif;
    padding: 1% 4%;
    margin: 2%;
    background-color: tomato;
    border: 1px solid violet;
    color: ivory;
    border-radius: 20px;
    transition: 2s;
}
button:hover {
    background-color: ivory;
    color: tomato;
}

/*Header Styles*/

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content:flex-start;
    padding: 3% 4% 0;
    /* position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8); */
    outline: 1px solid red;

}
.logo {
    outline: 1px solid red;
    width: 35%;
}
header nav {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    outline: 1px solid red;

}

.links  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    background-color: lavender;

} 

.links:hover {
    color:black;
}
.links a {
    background-color: lavender;
    padding: 2% 6%;

}
.links a:hover {
    background-color: #f52f81;

}
/*About Section Styles*/

#about {
    height: 85vh;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 4%;
}
.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Gallery Styles*/
#projects {
    outline: 1px red solid;
}
.mainGallery {
    outline: 2px solid blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 4% 2%;
}
.photo {
    outline: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 45vh;
}
.planter {
    background-image:url(../assets/One.jpg);
    background-position: center;
    background-size: cover;
}
.mug {
    background-image: url(../assets/two.jpg);
    background-position: center;
    background-size: cover;
}
.plate {
    background-image: url(../assets/three.jpg);
    background-position: center;
    background-size: cover;
}
.mug2 {
    background-image: url(../assets/four.png);
    background-position: center;
    background-size: cover;
}
.set {
    background-image: url(../assets/five.jpg);
    background-position: center;
    background-size: cover;
}
.plate2 {
    background-image: url(../assets/six.png);
    background-position: center;
    background-size: cover;
}
p {
    background-color: white;
    text-align: center;
    padding: 4%;
}
/* Footer Styler */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lavender;
    padding-bottom: 6%;
}

@media (max-width:500px) {
 
    .logo {
        width: 100%;
        text-align: center;
    }
    header {
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
    }
    .photo {
        width: 30vh;
    }
    .links {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }
    h2 {
        font-size: 4rem;
    }
    #about {
        height: 45vh;
    }
}